body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

nav {
  width: 220px;
  background-color: #064663;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  margin: 10px 0;
}
nav ul li a {
  text-decoration: none;
  color: #f0f0f0; /* Sehr helles Grau, fast Weiß */
  font-weight: 600; /* Etwas kräftiger für bessere Lesbarkeit */
  transition: color 0.3s ease;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ffffff; /* Reinweiß beim Hover */
}




.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  max-width: 100%;
  max-height: 120px;
}

.content {
  flex: 1;
  padding: 30px;
}
